.App {
  display: flex;
}
.sider {
  width: 200px;
  padding: 20px;
  li{
    margin: 20px 0;
  }
  li.router{
    color: red;
  }
  li.redux{
    color: green;
  }
}
.content{
  flex: 1;
  padding: 20px;
  border: 1px solid red;
}

